html, body {
    background: #f1f6f6;
    font-size: 4px;
    font-family: sans-serif;
}

.header{
    background: #ffffff;
    height: 75px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.main__header{
    align-items: center;
    height: 75px;
    display: flex;
    flex-direction: row;
}
.language{
    color: #a6a7a7;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language__option{
    align-items: center;
    padding: 10px;
    padding-right: 40px;
}

.language__option:hover{
    color: #019c97;
    box-shadow: 0px 5px #019c97;
}

.main__container{
    padding: 50px;
    display: flex;
    position: relative;
    list-style: none;
    font-size: 4rem;
}

.side__bar{
    padding: 20px;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 340px;
    margin-bottom: 4rem;
    overflow: hidden;
    text-decoration: none !important;
    color: #8b9393;
}

hr.side__bar{
    color: #019c97;
}

li{
    padding: 10px;
    padding-top: 10px;
}

a{
    text-decoration-line: none;
    color: #8b9393;
}

a:hover{

    text-decoration: underline;
    color: #019c97;
}

.grades{
    padding: 25px;
}

.addPackage{
    padding: 20px;
    font-weight: bold;
    color: #00a09b;
}

input.inName{
    border-style: none;
    border-radius: 5rem;
    background: #f1f6f6;
    box-sizing: border-box;
    height: 40px;
}

.school__info{
    padding: 20px;
    position: absolute;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.libros__electronicos{
    padding-left: 40px;
    padding-top: 10px;
    color: #bdbdbd;
    font-size: 4rem;
}

.user__info{
    padding: 15px;
    position: absolute;
    right: 0px;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.password{
    align-content: center;
    padding: 2px;
    padding-top: 10px;
    padding-right: 30px;
    color: #00c4c0;
    text-align: center;
}

.student__name{
    color: #00a09b;
    padding-top: 10px;
    padding-right: 30px;
}

.verticlaHR{
    align-items: center;
}

.header__verticalHR{
    border:         none;
    border-left:    0.5px solid hsla(200, 10%, 50%,100);
    height:         6rem;
    width:          0.5px; 
    color: #e6ecec;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar{
    color: #e1e6e6;
}

.add{
    background-color: #00b9b4;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8rem;
    height: 13rem;
}

.header__title{
    font-size: 6rem;
    color: #00a09b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main__title{
    color: #00938e;
    position: absolute;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main__buttons{
    padding: 15px;
    position: absolute;
    right: 0px;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button{
    border: none;
    border-radius: 50px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1{
    background-color: #00c367;
}

.button2{
    background-color: #00c4bf;
}

.edit{
    color: #a0aaaa;
    padding-left: 10px;
    padding-right: 10px;
}

.delete{
    color: #c78181;
    padding-left: 10px;
    padding-right: 10px;
}

.books {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
}
.book {
    margin: 7rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    margin-bottom: 4rem;
    overflow: hidden;
}
.book__image {
    background-position: center;;
    background-size: cover;
    height: 70rem
}
.book__footer {
    background: white;
    padding: 16px;
    position: relative;
}
.book__title {
    color: #019c97;
    font-size: 3rem;
    font-weight: bold;
}
.book__size {
    color: #777777;
    font-size: 3rem;
}
.book__actions {
    bottom: 0;
    height: 14rem;
    position: absolute;
    right: 0;
    width: 12rem;
}
